


input{
    padding: 10px;
    outline: none;
    background-color: rgb(124, 29, 133);
    border: 2px solid rgb(71, 74, 236);
    color: rgb(10, 7, 235);
    border-radius: 10px;
    font-family: cursive;
    font-weight: bold;
}


input:focus{
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: normal;
}


