
div ui li{
    color:red;
    font-size:35px;
    border:3px green;
    background-color: blue;
}

nav ul li{
    color:brown;
    font-size:50px;
    border:3px purple;
    background-color:yellow;
}

